.add-form {
  background-color: #e5771f;
  padding: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

button,
select,
input {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

.add-form h3 {
  font-size: 2.5rem;
}

.add-form button {
  text-transform: uppercase;
  background-color: #76c7ad;
}

@media screen and (max-width: 760px) {
  .add-form h3 {
    font-size: 2.5rem;
  }

  .add-form {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.8rem;
  }
}
